<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="./styles/styles.css">
  <!-- Favicon -->
  <link rel="icon" type="favicon/png" href="./images/favicon.png">
  <title>Chorz</title>
</head>

<body>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand" id="navBar">
      <a class="navbar-item" href="/">
        <img src="images/logo.png" alt="Chorz">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>

  <hr id="page-content">

  {{{body}}}

  <hr id="page-end">

  <footer>
    <div id="footer-icons" class="columns is-mobile has-text-centered">
      <div class="column is-one-quarter">
        <ul class="list-unstyled text-center">
          <li>
            <a href="/"><i class="fas fa-home"></i></a>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <ul class="list-unstyled text-center">
          <li>
            <a href="/chores-list"><i class="fas fa-list-ul"></i></a>
          </li>
          <li>
            <a href="/chores-list">Chores</a>
          </li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <ul class="list-unstyled center">
          <li>
            <a href="#"><i class="fas fa-comments"></i></a>
          </li>
          <li>
            <a href="#">Message</a>
          </li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <ul class="list-unstyled text-center">
          <li>
            <a href="/family"><i class="fas fa-users"></i></a>
          </li>
          <li>
            <a href="/family">Family</a>
          </li>
        </ul>
      </div>

    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="./js/javascript.js"></script>


</body>

</html>