<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCZy6p3XybHgBHOzM44FZyDXXiZu4tmyYs",
    authDomain: "chores-60d1f.firebaseapp.com",
    databaseURL: "https://chores-60d1f.firebaseio.com",
    projectId: "chores-60d1f",
    storageBucket: "chores-60d1f.appspot.com",
    messagingSenderId: "728267572033",
    appId: "1:728267572033:web:f05726473d7b11b7"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
</body>

</html>
