<div class="columns is-mobile is-centered">
  <div id="task-card" class="column is-10">
    <img id="task-icon" src="">
    <div id="task"><!--handlebars--></div>
    <div id="value" class="has-text-right"><!--handlebars--></div>
  </div>
</div>