<h1 id="headline">Chore List</h1>

{{#each Chores}}
<div class="columns is-mobile is-centered">
  <div id="task-card" class="column is-10">
    <img id="task-icon" src="{{ photo }}">
    <div id="task">{{ name }}</div>
    <div id="value" class="has-text-right">{{ value }}</div>
  </div>
</div>
{{/each}}