<h1 id="headline">My Family</h1>

{{#each Users}}
<div class="columns is-mobile is-centered">
  <div id="task-card" class="column is-10">
    <img id="task-icon" src="{{ photo }}">
    <div id="task" class="has-text-centered">{{ name }}</div>
  </div>
</div>
{{/each}}

<hr id="page-end">