<nav class="navbar navbar-expand-lg navbar-light" id="navBar">
    <a class="navbar brand" href="#" id="busName">
      <img id="logo" src="./images/logo.png" class="d-block mx-auto" alt="Chorz">
    </a>
    <button id="menu-toggle" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="nav navbar-nav ml-auto" id="head-links">
        <li class="nav-item active">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Contact
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid" id="page-content">

    <div class="row">
      <div class="col-xs-4" id="profile-pic">
        <img src="./images/profile-pic.png">
      </div>
      <div class="col-xs-4">
        <ul class="list-unstyled">
          <li>
            Josh Bradley
          </li>
          <li>
            Balance: $40.00
          </li>
        </ul>
      </div>
    </div>


    <div class="row" id="chore-list">
      <div class="col-md-8 text-center">
        <div id="task-card">
          <img id="task-icon" src="./images/vacuum.png"><span id="task">Vacuum The Floor</span><span id="value">$2.00</span>
        </div>
      </div>
    </div>
  </div>



  <footer>
    <ul class="list-unstyled text-center">
      <li>
        <a href="#"><i class="fas fa-home"></i></a>
      </li>
      <li>
        <a href="#">Home</a>
      </li>
    </ul>
    <ul class="list-unstyled text-center">
      <li>
        <a href="#"><i class="fas fa-list-ul"></i></a>
      </li>
      <li>
        <a href="#">Chores</a>
      </li>
    </ul>
    <ul class="list-unstyled text-center">
      <li>
        <a href="#"><i class="fas fa-comments"></i></a>
      </li>
      <li>
        <a href="#">Message</a>
      </li>
    </ul>
    <ul class="list-unstyled text-center">
      <li>
        <a href="#"><i class="fas fa-users"></i></a>
      </li>
      <li>
        <a href="#">Family</a>
      </li>
    </ul>
  </footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
