<h1 id="headline">My Dashboard</h1>

<div class="columns is-mobile">
  <div class="column is-half">
    <img id="profile-pic" src="{{ Users.photo }}" alt="Profile Pic">
  </div>
  <div id="profile-info" class="column">
    <ul class="list-unstyled">
      <li>{{ Users.name }}</li>
      <li>Admin</li>
    </ul>
  </div>
</div>


<div class="columns is-mobile is-centered">
  <a href="/chores-list" id="task-card-admin" class="column is-9">
    <img id="task-icon" src="./images/chore-icons/chorelist-assign.png">
    <div id="task-admin">Assign Chores</div>
  </a>
</div>

<div class="columns is-mobile is-centered">
  <a href="#" id="task-card-admin" class="column is-9">
    <img id="task-icon" src="./images/chore-icons/chorelist-approve.png">
    <div id="task-admin">Approve Chores</div>
  </a>
</div>

<div class="columns is-mobile is-centered">
  <a href="/new-user" id="task-card-admin" class="column is-9">
    <img id="task-icon" src="./images/chore-icons/new-user.png">
    <div id="task-admin">Add New User</div>
  </a>
</div>

<div class="columns is-mobile is-centered">
  <a href="/new-chore" id="task-card-admin" class="column is-9">
    <img id="task-icon" src="./images/chore-icons/new-chore.png">
    <div id="task-admin">Add New Chore</div>
  </a>
</div>

<hr id="page-end">