<h1 id="headline">My Dashboard</h1>

<div class="columns is-mobile">
  <div class="column is-half">
    <img id="profile-pic" src={{ Users.photo }} alt="Profile Pic">
  </div>
  <div id="profile-info" class="column">
    <ul class="list-unstyled">
      <li>{{ Users.name }}</li>
      <li>${{ Users.balance }}</li>
    </ul>
  </div>
</div>

<div class="columns is-mobile is-centered">
  <div id="task-card" class="column is-10">
    <img id="task-icon" src="./images/chore-icons/vacuum.png">
    <div id="task">Vacuum The Floor</div>
    <div id="value" class="has-text-right">$2.00</div>
  </div>
</div>

<div class="columns is-mobile is-centered">
  <div id="task-card" class="column is-10">
    <img id="task-icon" src="./images/chore-icons/bathroom.png">
    <div id="task">Clean The Bathroom</div>
    <div id="value">$3.00</div>
  </div>
</div>

<div class="columns is-mobile is-centered">
  <div id="task-card" class="column is-10">
    <img id="task-icon" src="./images/chore-icons/laundry.png">
    <div id="task">Do The Laundry</div>
    <div id="value">$4.00</div>
  </div>
</div>

<div class="columns is-mobile is-centered">
  <div id="task-card" class="column is-10">
    <img id="task-icon" src="./images/chore-icons/mowing.png">
    <div id="task">Mow The Lawn</div>
    <div id="value">$10.00</div>
  </div>
</div>

<div id="task-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="has-text-centered">
      <button class="button is-rounded is-success" id="mark-complete"><i class="fas fa-check"></i><span id="complete-text">Complete!</span></button>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<hr id="page-end">