<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-12 is-parent">
      <div class="tile is-child box has-text-centered" id="child-box">
        <img src="./images/logo.png" alt="CHORZ">
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-6 is-parent">
      <div class="tile is-child box" id="child-box">
        <div class="level">
          <div class="level-left">
            <p class="title">Already a member?</p>
          </div>
        </div>
        <div class="level">
          
          {{!-- <ul> --}}
            <form action="/user/login" method="POST">
            <div class="level">
              <input type="email" class="input is-medium is-rounded" placeholder="Email" id="logInEmail" name="email">
            </div>
            <div class="level">
              <input type="password" class="input is-medium is-rounded" placeholder="Password" id="logInPassword" name="password">
            </div>
            <div class="level">
              <button class="button" id="logInBttn" type="submit">Log In</button>
              <p id="wrongPW"></p>
            </div>
          {{!-- </ul> --}}
          </form>

        </div>
      </div>
    </div>

    <div class="tile is-6 is-parent">
      <div class="tile is-child box" id="child-box">
        <p class="title">Don't have an account? Sign up today!</p>
        <br>
        <button class="button" id="signUpBttn"><a href="/signup">Sign Up</button>
      </div>
    </div>
  </div>
</div>