<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="../public/styles/log-in.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>


<body>
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-12 is-parent">
        <div class="tile is-child box" id="child-box">
          <p class="title">Welcome to CHORZ!</p>
        </div>
      </div>
    </div>

    <div class="tile is-ancestor">
      <div class="tile is-6 is-parent">
        <div class="tile is-child box" id="child-box">
          <div class="level">
            <div class="level-left">
              <p class="title">Already a member?</p>
            </div>
          </div>
          <div class="level">
            <ul>
              <div class="level">
                <input type="email" class="input is-medium is-rounded" placeholder="Email" id="logInEmail">
              </div>
              <div class="level">
                <input type="password" class="input is-medium is-rounded" placeholder="Password" id="logInPassword">
              </div>
              <div class="level">
                <button class="button" id="logInBttn">Log In</button>
                <p id="wrongPW"></p>
              </div>
            </ul>
          </div>
        </div>
      </div>

      <div class="tile is-6 is-parent">
        <div class="tile is-child box" id="child-box">
          <p class="title">Don't have an account? Sign up today!</p>
          <br>
          <button class="button" id="signUpBttn">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>