<h1 id="headline">Create A New Chore</h1>

<div class="field">
  <label class="label">Chore Description</label>
  <div class="control has-icons-left">
    <input id="inputName" class="input is-rounded" type="text" placeholder="Chore">
    <span class="icon is-small is-left">
      <i class="fas fa-home"></i>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Pay Amount</label>
  <div class="control has-icons-left">
    <input id="inputValue" class="input is-rounded" type="text" placeholder="Amount">
    <span class="icon is-small is-left">
      <i class="fas fa-dollar-sign"></i>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Choose Icon</label>
  <button class="button is-white is-rounded" id="newchore-icon">
    <i class="far fa-image"></i>
    <span id="button-text">Choose Icon</span>
  </button>
</div>

<div class="field">
  <button class="button is-white is-rounded" id="submit-button">
    <i class="fas fa-check"></i>
    <span id="button-text">Submit</span>
  </button>
</div>

<div id="newchore-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">

    <h1 id="headline">Available Icons</h1>

    <div class="columns is-mobile is-centered">
      <div id="icon-card" class="column is-8">
        <div id="newChoreIcon"></div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>