<div class="field">
  <label class="label">Display Name</label>
  <div class="control has-icons-left">
    <input id="name-input" class="input is-rounded" type="text" placeholder="Name">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Family Group</label>
  <div class="control has-icons-left">
    <input id="family-input" class="input is-rounded" type="text" placeholder="Family">
    <span class="icon is-small is-left">
      <i class="fas fa-users"></i>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Admin</label>
  <div class="control has-icons-left">
    <span class="select is-rounded">
      <select id="user-input">
        <option selected>Acess Level</option>
        <option>Admin</option>
        <option>User</option>
      </select>
    </span>
    <span class="icon is-small is-left">
      <i class="fas fa-screwdriver"></i>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Choose Avatar</label>
  <button class="button is-white is-rounded" id="icon-button">
    <i class="fas fa-user-astronaut"></i>
    <span id="button-text">Choose Avatar</span>
  </button>
</div>

<div class="field">
  <button class="button is-white is-rounded" id="submit-button">
    <i class="fas fa-check"></i>
    <span id="button-text">Submit</span>
  </button>
</div>