<div class="container">
  <div class="hero is-fullhight">
    <div class="hero-head"></div>

    <div class="hero-body">
      <div class="container">
        <div class="level" id="top-bar">
          <div class="level-right">
            <img src="./images/logo.png" alt="CHORZ">
          </div>

          <div class="level-left">
            <h1 class="title">Sign Up</h1>
          </div>
        </div>

        <div class="level">
          <div class="level-item">
            <ul>
              <div class="level">
                <div class="level-item">
                  <input type="text" class="input is-medium is-rounded" placeholder="First Name" id="userName">
                </div>
              </div>

<<<<<<< HEAD
              <div class="level">
                <div class="level-item">
                  <input type="text" class="input is-medium is-rounded" placeholder="Last Name" id="houseName">
=======

                <div class="level">
                  <div class="level-item">
                    <input type="text" class="input is-medium is-rounded" placeholder="Last Name" id="houseName">
                  </div>
>>>>>>> dev
                </div>
              </div>

<<<<<<< HEAD
              <div class="level">
                <div class="level-item">
                  <input type="email" class="input is-medium is-rounded" placeholder="Email" id="email">
=======
                 <div class="level">
                  <div class="level-item">
                    <input type="number" class="input is-medium is-rounded" placeholder="Age" id="age">
                  </div>
                </div>
                
                <div class="level">
                  <div class="level-item">
                    <input type="email" class="input is-medium is-rounded" placeholder="Email" id="email">
                  </div>
>>>>>>> dev
                </div>
              </div>

              <div class="level">
                <div class="level-item">
                  <input type="password" class="input is-medium is-rounded" placeholder="Password" id="password">
                </div>
              </div>

              <div class="level">
                <div class="level-left">
                  <button class="button" id="submitBttn">Submit</button>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-foot"></div>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script type="text/javascript" src="./js/signup.js"></script>
</body>

  </div>
</div>