<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chorz Sign Up</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="../public/styles/sign-up.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <div class="container">
    <div class="hero is-fullhight">
      <div class="hero-head"></div>

      <div class="hero-body">
        <div class="container">
          <div class="level" id="top-bar">
            <div class="level-right">
              <h1 class="title">Sign Up</h1>
            </div>

            <div class="level-left">
              <img src="" alt="CHORZ">
            </div>
          </div>

          <div class="level">
            <div class="level-item">
              <ul>
                <div class="level">
                  <div class="level-item">
                    <input type="text" class="input is-medium is-rounded" placeholder="First Name">
                  </div>
                </div>

                <div class="level">
                  <div class="level-item">
                    <input type="text" class="input is-medium is-rounded" placeholder="Last Name">
                  </div>
                </div>

                <div class="level">
                  <div class="level-item">
                    <input type="email" class="input is-medium is-rounded" placeholder="Email">
                  </div>
                </div>

                <div class="level">
                  <div class="level-item">
                    <input type="password" class="input is-medium is-rounded" placeholder="Password">
                  </div>
                </div>

                <div class="level">
                  <div class="level-left">
                    <button class="button">Submit</button>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot"></div>

    </div>
  </div>
</body>

</html>