body {
    height: 100vh;
    background-color: rgb(63, 72, 204);
}

.input {
    color: black;
    border-color: #7A81DD;
    background-color: whitesmoke;
}

.button {
    color: black;
    border-color: #7A81DD;
    background-color: #acacac;
}

#child-box{
    background-color: whitesmoke;
}