body {
  height: 100vh;
  background-color: rgb(63, 72, 204);
}

.title{
  font-family: "Luckiest Guy", cursive;
  font-size: 36px;
  color: white;
}

.input {
  color: black;
  border-color: #7A81DD;
  background-color: white;
}

.button {
  color: black;
  border-color: #7A81DD;
  background-color: #acacac;
}

#child-box{
  background-color: white;
}